# created 28/9/2011 - Jim Lemon
importFrom("graphics", "abline", "axis", "mtext", "par", "plot",
           "points", "rect", "segments", "strheight", "strwidth",
           "text")
importFrom("stats", "quantile")
export(
clinsig,
spreadout
)
# methods
S3method(hist,clinsig)
S3method(plot,clinsig)
S3method(print,clinsig)
